.o_menu_systray {
  --NavBar-entry-padding-left: #{$o-navbar-entry-padding-h * 0.5};
  --NavBar-entry-padding-right: #{$o-navbar-entry-padding-h * 0.5};
  align-items: center;
  .badge {
    margin-right: -0.5em;
    border: 0;
    padding: ($o-navbar-badge-padding * 0.5) $o-navbar-badge-padding;
    background-color: var(--o-navbar-badge-bg, #{$o-navbar-badge-bg});
    font-size: $o-navbar-badge-size;
    color: var(--o-navbar-badge-color, $o-navbar-badge-color);
    text-shadow: var(
      --o-navbar-badge-text-shadow,
      #{$o-navbar-badge-text-shadow}
    );
    transform: translate(-0.6em, -30%);
  }
}

.o_user_avatar {
  height: 26px !important;
}

.o_menu_systray .dropdown-toggle {
  border: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: auto;
  height: calc(var(--o-navbar-height) - 0px);
  border-radius: 0;
  user-select: none;
  font-size: 1em;
}

.o_menu_sections {
  width: auto !important;
  justify-content: center;
  align-items: center;
  flex-grow: unset !important;
  gap: 20px;
}

.o_menu_sections > a,
.o_nav_entry {
  background-color: #f5f4f8;
  border: none;
  padding: 3px 10px;
  border-radius: 15px;
  color: #252b5c;
}

.o_menu_sections button,
.o_nav_entry {
  background-color: #f5f4f8;
  border: none;
  padding: 3px 10px;
  border-radius: 15px;
  color: #252b5c;
}

.o_nav_entry {
  display: inline;
}

.o_nav_entry:hover {
  background-color: #0b0d63;
  color: white;
}

.o_hrm_navbar_sections {
  padding: 0 8px;
  flex: 1;
}

.hrm_active,
.hrm_active > button {
  background-color: #0b0d63 !important;
  color: white !important;
  border-radius: 15px;
}

.o_menu_systray .dropdown-toggle {
  background-color: transparent !important;
}

.o_mobile_menu_toggle {
  background-color: transparent;
}

.o_web_client {
  background-color: #fff;
}

.o_menu_sections-mobile {
  max-width: 100vw;
  overflow-x: auto;
  justify-content: start;
  padding: 10px 0;
}

.o_mobile_menu_toggle {
  padding-right: 0 !important;
}

.o_menu_sections > .dropdown-item:hover {
  background-color: #26287a;
  color: white !important;
}

.o_menu_systray i {
  font-size: 28px;
  height: 100%;
}

.o_user_menu .o_user_avatar {
  height: 50px !important;
  border-radius: 50% !important;
}

.o-mail-DiscussSystray {
  top: 61px !important;
}
.o_menu_systray button {
  padding-top: 20px;
  padding-bottom: 20px;
}

button:has(.hrm-dropdown) {
  padding: 0;
}
.o_menu_sections .o-dropdown {
  background-color: #f5f4f8;
  border-radius: 15px;
}
