$bg-window-chat:#F5F4F8;

.vt-mail-ChatWindow {
  background: #F5F4F8;
  border-radius: 24px !important;
  overflow: hidden;
}

.bg-vt {
  background-color: #234F68;
}

.btn-sent  {
  grid-area: send-button;
  margin-left: 8px;
  & i{
      transform: rotateZ(50deg);
  }
}

.bg-vt + .o-mail-Message-body > p {
  color: white;
}

.vt-bg-window-chat{
  background-color: $bg-window-chat;
}
.o-mail-Thread > div{
   background-color: $bg-window-chat;
}
.o-mail-Composer {
      display: grid;
    grid-template-areas:
        "sidebar-main  core-main send-button";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
}

div:has(> .o-mail-Composer) {
    background-color: $bg-window-chat;
}
.o-mail-DateSection .text-muted{

  background-color: #0b0d63;
  color: white !important;
  border-radius: 10px;
}
