.slider-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;

    .slide {
      min-width: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: inherit;
      }

      .caption {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
      }
    }
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    //&:hover {
    //  background: white;
    //  //color: black;
    //}

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }
}
