//.p-search-bar{
//    @media (min-width: 768px) {
//        padding-left: 14em !important;
//        padding-right: 14em !important;
//    }
//}

//.o_cp_searchview {
//  width: auto;
//}
//@media (max-width: 768px) {
//  .o_cp_searchview {
//    width: 100%;
//  }
//}
