.o_form_sheet_bg {
  margin: auto;
  margin-top: 0px;
}
//.o_input {
//    border-bottom: solid 0.8px var(--o-input-border-color);
//}

.o_form_sheet_bg {
  margin: auto;
  margin-top: 0px;
  @media (min-width: 768px) {
    padding-left: 7em !important;
    padding-right: 7em !important;
  }
}
