/* CSS cho thẻ card */
//:root {
//    --base-font-size: 16px;
//}
//
//body {
//    font-size: var(--base-font-size);
//}
.card_list_theme {
  width: 100%;
  min-width: min-content;
  background-color: #F5F4F8 !important;
  border: 1px solid #ddd; // Viền của thẻ
  border-radius: 5px; // Bo tròn các góc của thẻ
  padding: 20px; // Khoảng cách bên trong thẻ
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Đổ bóng cho thẻ
  transition: transform 0.2s ease-in-out; // Hiệu ứng chuyển đổi
  @media (max-width: 768px) {
    min-width: auto;
  }

  &:hover {
    cursor: pointer; // Con trỏ biến thành bàn tay
    //         transform: translateY(-5px); // Thẻ nâng lên một chút
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }

}

.my-circle-class {
  width: auto; // Chiều rộng
  min-width: 30px;
  height: 30px; // Chiều cao
  border-radius: 15px; // Tạo border hình tròn
  background-color: #F9F5FF; // Màu tím nhạt cho background
  color: #7F56D9; // Màu tím đậm cho chữ
  display: flex; // Dùng flexbox để căn giữa nội dung
  justify-content: center; // Căn giữa theo chiều ngang
  align-items: center; // Căn giữa theo chiều dọc
  //     border: 0px solid #6A0572;    // Đường viền màu tím đậm
  text-align: center; // Đảm bảo class hiển thị như một khối inline
  font-size: 16px;
  padding:5px;
  white-space: nowrap;
}

.o_group_caret_theme {
  margin-inline-start: calc(var(--o-list-group-level, 0) * 30px);
}

.card-theme-margin-mobile {
  @media (max-width: 768px) {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}

//
//.o-icon-renderer{
//    &:hover {
//        i {
//            color: #ff0015 !important;
//        }
//    }
//    i{
//        color: #ffffff !important;
//    }
//}

@media (max-width: 768px) {
    .o_list_view .column-mobile-hidden {
        display: none !important;
    }
}
