$o-community-color: #333 !default;
                $o-brand-secondary: #8f8f8f !default;
                $o-brand-lightsecondary: #f8f9fa !default;
                $o-success: #28a745 !default;
                $o-info: #17a2b8 !default;
                $o-warning: #ffac00 !default;
                $o-danger: #dc3545 !default;
                